@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Caveat:wght@500&family=Knewave&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(37, 9, 37);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}
.gamecontainer{
    background-color: rgba(94, 1, 94, 0.669);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}
.box{
    border: 1.5px solid yellow;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
   background-color: rgb(168, 22, 168);
}
.gameinfo{
    padding: 0 34px;
    font-family: "Bangers&family", cursive;

}
.imgbox img{
    display: none;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.reset{
    border-radius: 1pc;
    box-sizing: border-box;
    height: 2em;
    width: 4em;
    background-color: rgba(239, 239, 103, 0.783);
}